# =========================
# TERRAFORM
# =========================

.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

terraform.tfvars
*.pem

# =========================
# ANSIBLE
# =========================

*.retry
inventory.ini

# =========================
# ENV FILES
# =========================

.env
.env.*

# =========================
# NODE
# =========================

node_modules/

# =========================
# DOCKER
# =========================

docker-data/
mongo_data/

# =========================
# LOGS
# =========================

*.log

# =========================
# OS / EDITOR
# =========================

.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# SSH / CERTS
# =========================

*.key
*.crt
*.csr

# =========================
# LETSENCRYPT
# =========================

letsencrypt/

# =========================
# PYTHON
# =========================

__pycache__/
*.pyc